################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DavisVantage.WeatherReader/obj/Debug/netstandard1.6
