<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
          <target xsi:type="File" name="file" fileName="logs\${shortdate}.log"
                   layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />
      <target xsi:type="ColoredConsole"
           name="console"
           layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>